.h1 {
    color: rgb(172, 172, 243);
}

.h2 {
    color: rgb(105, 105, 240);
}

.h3 {
    color: rgb(67, 67, 219);
}

.h4 {
    color: rgb(61, 61, 230);
}

.h5 {
    color: rgb(123, 13, 197);
}

.h6 {
    color: rgb(124, 2, 161);
}
